body {
    font-family: 'Cera Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid #46A35880;
}

.logo {
    width: 150px;
    height: 34.3px;
}

.navigation a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    color: #3D3D3D;
    text-decoration: none; 
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin: 0 25px;
    padding: 25px 0;
}

.navigation li.active {
    border-bottom: 3px solid #46A358;
}

.button {
    background-color: #46A358;
    border-radius: 6px;
    padding: 7px 17px;
    height: 35px;
    text-decoration: none; 
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.button__shop {
    padding: 9px 26px;
    height: 40px;
}

.button img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.banner {
    margin-top: 12px;
}

.banner__container {
    display: flex;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding: 0 40px;
    align-items: center;
    justify-content: flex-start;
}

.banner__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner__welcome {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #3D3D3D;
    text-transform: uppercase;
}

.banner__tittle {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color: #3D3D3D;
    text-transform: uppercase;
    margin-top: 7px;
    margin-bottom: 5px;
}

.banner__tittle span {
    color: #46A358;
}

.banner__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-bottom: 44px;
}

.banner__image {
    width: 79%;
}

.banner__image img {
    width: 100%;
}